<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <title>YTS Movies</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <div class="logo-para">
          <div class="logo-img">
            <a href="{% url 'index' %}">
              <img class="logo" src="/media/images/logo.png" alt="Logo" />
            </a>

          </div>
          <div class="para">
            <span><p>HD movies at the smallest file size.</p></span>
          </div>
        </div>

        <div class="search-li">
          <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input
              class="input"
              type="text"
              name=""
              id=""
              placeholder="Quick Search"
            />
          </div>

          <div class="items">
            <ul>
              <li>
                <a href="{% url 'index' %}">Home</a>
              </li>
              <li>
                <a href="" style="color: #75c74e">4K</a>
              </li>
              <li>
                <a href="">Trending</a>
              </li>
              <li>
                <a href="">Browse Movies</a>
              </li>

              <div class="login">
                <ul>
                  {% if user.is_authenticated %}
                      <li><a href="{% url 'logout' %}">Logout</a></li>
                  {% else %}
                      <li><a href="{% url 'login' %}">Login</a></li>
                  {% endif %}
                  <li>
                    <span style="color: rgb(148 148 148); text-decoration: none"
                      >|</span
                    >
                  </li>

                  <li>
                      <a href="#" id="registerBtn">Register</a>
                  </li>
                </ul>
              </div>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="main-bg">
      <div class="main-section">
        <div class="welcom">
          <span class="welcom-span">
            <h1 class="main-sec-h">
              Download YTS YIFY movies: HD smallest size
            </h1>
            <p class="main-sec-p">
              Welcome to the official <b>YTS.MX </b> website. Here you can
              browse and download YIFY movies in excellent 720p, 1080p, 2160p 4K
              and 3D quality, all at the smallest file size. YTS Movies
              Torrents.
            </p>
            <div class="welcom-links">
              <a href="" style="color: #428bca"
                >IMPORTANT - YTS.MX is the only new official domain for YIFY
                Movies</a
              >
            </div>
            <div class="links" style="margin-top: 5px">
              <a href="">
                <i class="fa-brands fa-telegram" style="color: #428bca"
                  ><span style="margin-left: 6px">YTSMX_UPDATES</span></i
                >
              </a>
              <span style="margin-left: 6px; margin-right: 6px">|</span>
              <i class="fa-brands fa-twitter" style="color: #428bca"
                ><span style="margin-left: 6px"
                  >Follow @ <b>YTSYIFY</b> for upcoming featured movies!</span
                ></i
              >
            </div>
          </span>
          <div class="popular-row">
            <a href="">
              <i
                class="fa-solid fa-star"
                style="
                  color: rgb(114, 189, 0);
                  margin-left: 230px;
                  margin-right: 230px;
                "
                ><span style="color: white; margin-left: 6px"
                  >Popular Downloads</span
                ></i
              >
            </a>
            <a href=""
              ><i class="fa-solid fa-signal" style="color: orange"
                ><span style="color: #428bca; margin-left: 6px"
                  >more featured...</span
                ></i
              ></a
            >
          </div>
        </div>

        <div class="special">
          {% for movie in latest_movies %}
          <div class="img1">
            <img src="{{ movie.banner_image_url }}" alt="{{ movie.name }}" />
            <div class="centered">
              <i class="fa-solid fa-star icon-size"></i>
              <div class="text">
                <h3>{{ movie.rating }}/10</h3>
                <h3>{{ movie.movie_category }}</h3>
                <button><a class="view-details-btn" href="{% url 'detail' movie.id %}">View Details</a></button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="mywarning">
          <div class="warning">
            <span
              ><h1 class="warn-h1" style="color: white; font-size: 40px">
                Warning!‌‌‌ Download only with VPΝ...
              </h1></span
            >

            <span style="margin-top: 4px"
              ><p class="warn-p">
                Downloading torrents is risky for you: your IP and leaked
                private data being actively tracked by your ISP and Government
                Agencies Protect yourself from expensive lawsuits and fines NOW!
                You must use a VPΝ like Guard. It is the only way to download
                torrents fully anonymous by encrypting all traffic with zero
                logs.
              </p></span
            >
            <span style="margin-top: 4px"
              ><p class="warn-p2">
                Personal data disclosing your real identity: your IP address,
                <span style="color: white; background-color: #ad0000"
                  >124.29.215.213</span
                >
                is exposed, which points directly to your location in
                <span style="color: white; background-color: #ad0000"
                  >Lahore, PAKISTAN</span
                >
                . You are browsing with
                <span style="color: white; background-color: #731407"
                  >Chrome 129.0.0.0 (Mac OS X 10_15_7)</span
                >
                ,
                <span style="color: white; background-color: #731407"
                  >resolution 1792x1120px
                </span>
                ,
                <span style="color: white; background-color: #731407"
                  >12-cores CPU</span
                >
                .
              </p>
              <h3 class="warn-h3">
                ″Do not risk it! Protect yourself right now by downloading
                Expert VPN″ -
                <span style="font-variant: small-caps">William</span>
              </h3>
              <div class="btn">
                <button>
                  <i class="fa-solid fa-download" style="color: white"> </i>
                  Download Expert VPN
                </button>
              </div>
            </span>
          </div>
        </div>
      </div>
    </section>
    <section class="main2">
      <div class="main-section2">
        <div class="latest">
          <span>
            <h3>Latest YIFY Movies Torrents</h3>
          </span>
          <a
            class="browse"
            onMouseOver="this.style.color='white'"
            onMouseOut="this.style.color='gray'"
            href=""
            style="text-decoration: none; color: gray"
          >
            Browse All
          </a>
        </div>
        <div class="movies-list">
          <div
            class="special"
            style="
              display: flex;
              flex-direction: column;
              margin-top: 25px;
              justify-content: center;
              align-items: center;
              gap: 45px;
            "
          >
            <div class="row1">
              {% for movie in latest_movies %}
              <div class="img1">
                <img src="{{ movie.banner_image_url }}" alt="{{ movie.name }}" />
                <div class="centered">
                  <i class="fa-solid fa-star icon-size"></i>
                  <div class="text">
                    <h3>{{ movie.rating }}/10</h3>
                    <h3>{{ movie.movie_category }}</h3>
                    <button><a class="view-details-btn" href="{% url 'detail' movie.id %}">View Details</a></button>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="main2">
      <div
        class="main-section2"
        style="background-color: rgb(23, 23, 23); height: auto; color: white"
      >
        <div class="latest">
          <span>
            <h3>Upcoming YIFY Movies</h3>
          </span>
          <a
            href=""
            onMouseOver="this.style.color='white'"
            onMouseOut="this.style.color='gray'"
            href=""
            style="text-decoration: none; color: gray"
            style="text-decoration: none; color: gray"
          >
            Browse All
          </a>
        </div>
        <div class="movies-list">
          <div class="special">
            {% for movie in upcoming_movies %}
            <div class="img1">
              <img src="{{ movie.banner_image_url }}" alt="{{ movie.name }}" />
              <div class="centered">
                <div class="text">
                  <h3>{{ movie.movie_category }}</h3>
                  <h3>{{ movie.release_date }}</h3>
                  <button><a class="view-details-btn" href="{% url 'detail' movie.id %}">View Details</a></button>
                </div>
              </div>
            </div>
            {% empty %}
            <p>No upcoming movies available.</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>

    <footer class="myfooter">
      <div class="footer">
        <div class="footer-links">
          <span class="head">YTS &copy; 2011 - 2024 </span> -
          <a href="">Blog</a> - <a href="">DMCA</a> - <a href="">API</a> -
          <a href="">RSS</a> - <a href="">Contact</a> -
          <a href="">Browse Movies</a> - <a href="">Requests</a> -
          <a href="">Login</a> -
          <a href="">Language</a>
        </div>
        <div class="footer-links" style="margin-top: 10px">
          <a href="">EZTV</a> - <a href="">YIFY Status</a> -
          <a href="">YTS Proxies</a> - <a href="">YTS Proxies (TOR)</a> -
          <a href="">Follow @ytsyify</a>
        </div>
        <div class="agreement">
          <p>
            By using this site you agree to and accept our
            <span style="color: rgb(172, 172, 172)">User Agreement</span>, which
            can be read <span style="color: rgb(172, 172, 172)">here</span>.
          </p>
        </div>
      </div>
    </footer>
    <div id="registerModal" class="modal">
          <div class="modal-content">
              <span class="close">&times;</span>
            {% if messages %}
              <div class="messages">
                {% for message in messages %}
                  <div class="{% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
              <h2>Register</h2>
              <form action="{% url 'register' %}" method="post">
                  {% csrf_token %}
                  <label for="username">Username:</label><br />
                  <input class="search-r" type="text" id="username" name="username" required /><br />
                  <label for="email">Email:</label><br />
                  <input class="search-r" type="email" id="email" name="email" required /><br />
                  <label for="password">Password:</label><br />
                  <input class="search-r" type="password" id="password" name="password" required /><br />
                  <input class="btn1" type="submit" value="Register" />
              </form>
          </div>
      </div>

    <script>
        // Get modal element
        var modal = document.getElementById("registerModal");
        // Get open modal button
        var btn = document.getElementById("registerBtn");
        // Get close button
        var span = document.getElementsByClassName("close")[0];

        // Listen for open click
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // Listen for close click
        span.onclick = function() {
            modal.style.display = "none";
        }

        // Listen for outside click
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
  </body>
</html>
